.background-full-size {
    margin: 50px 0px;
    min-height: 610px;
    background-image: linear-gradient(to right, );
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/public/images/activitie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.background-full-size .our-activities-container {
    max-width: 1370px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 50px;
}
.our-activities-container .our-activities-nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.our-activities-nav .our-activities-nav__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #E6E8EC;
    margin: 0;
}
.our-activities-nav .activities-nav__item--active {
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.our-activities-container .our-activities-carousel  {
    margin-top: 35px;   
}
.our-activities-carousel .our-activities-item {

}
.our-activities-item .our-activities-content {
    padding-top: 10px;
}
.our-activities-content .our-activities-content__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.our-activities-content .our-activities-content_des {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F4F5F6;
}
.our-activities-item .our-activities-item__image {
    height: 370px;
    width: 85%;
    border-radius: 10px;
}
@media screen and (max-width: 426px){
    .background-full-size .our-activities-container {
        padding: 0px 25px;
    }
    .our-activities-item .our-activities-item__image {
        width: 100%;
    }
}
@media screen and (max-width: 769px){
    .background-full-size .our-activities-container {
        padding: 0px 30px;
    }
    .our-activities-item .our-activities-item__image {
        width: 90%;
    }
}