.vision-misson {
    background: url('../images/vision-mission-bg.png') center / cover no-repeat;
    padding-top: 33%;
    position: relative;
    color: #fff;
}

.vision-misson .blur-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10375C;
    opacity: 0.9;
}

.vision-misson .vision-misson_container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.vision-misson .vision-misson_content-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Content */
.vision-misson_content {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.vision-misson_content .content_img-wrapper {
    margin-bottom: 5px;
}

.vision-misson_content .content_title {
    font-size: 48px;
    margin-bottom: 24px;
}

.vision-misson_content .content-divider {
    width: 100%;
    height: 5px;
    margin-bottom: 35px;
    background-color: #FFF114;
}

.vision-misson_content .content-text {
    text-align: justify;
}